black==25.9.0 ; python_version >= "3.12"
click==8.3.0 ; python_version >= "3.12"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version >= "3.12"
coverage==7.10.7 ; python_version >= "3.12"
flake8==7.3.0 ; python_version >= "3.12"
iniconfig==2.1.0 ; python_version >= "3.12"
isort==7.0.0 ; python_version >= "3.12"
mccabe==0.7.0 ; python_version >= "3.12"
mypy-extensions==1.1.0 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
pathspec==0.12.1 ; python_version >= "3.12"
platformdirs==4.5.0 ; python_version >= "3.12"
pluggy==1.6.0 ; python_version >= "3.12"
pycodestyle==2.14.0 ; python_version >= "3.12"
pyflakes==3.4.0 ; python_version >= "3.12"
pygments==2.19.2 ; python_version >= "3.12"
pytest-cov==7.0.0 ; python_version >= "3.12"
pytest-django==4.11.1 ; python_version >= "3.12"
pytest==8.4.2 ; python_version >= "3.12"
pytokens==0.2.0 ; python_version >= "3.12"
