amqp==5.3.1 ; python_version >= "3.12"
asgiref==3.10.0 ; python_version >= "3.12"
billiard==4.2.2 ; python_version >= "3.12"
celery==5.5.3 ; python_version >= "3.12"
certifi==2025.10.5 ; python_version >= "3.12"
charset-normalizer==3.4.4 ; python_version >= "3.12"
click-didyoumean==0.3.1 ; python_version >= "3.12"
click-plugins==1.1.1.2 ; python_version >= "3.12"
click-repl==0.3.0 ; python_version >= "3.12"
click==8.3.0 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
django-cors-headers==4.9.0 ; python_version >= "3.12"
django==5.2.7 ; python_version >= "3.12"
djangorestframework-simplejwt==5.5.1 ; python_version >= "3.12"
djangorestframework==3.16.1 ; python_version >= "3.12"
idna==3.11 ; python_version >= "3.12"
kombu==5.5.4 ; python_version >= "3.12"
numpy==2.3.3 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
pandas==2.3.3 ; python_version >= "3.12"
prompt-toolkit==3.0.52 ; python_version >= "3.12"
pyjwt==2.10.1 ; python_version >= "3.12"
pymysql==1.1.2 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
redis==6.4.0 ; python_version >= "3.12"
requests==2.32.5 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
sqlparse==0.5.3 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
urllib3==2.5.0 ; python_version >= "3.12"
vine==5.1.0 ; python_version >= "3.12"
wcwidth==0.2.14 ; python_version >= "3.12"
